/*------------------------------------------------------------------
    ADD YOUR CUSTOM CSS HERE
-------------------------------------------------------------------*/

/* The Menu */
.linewrapper {
    display: flex;
    align-items: baseline;
  }
  .middle {
    border-bottom: 1px dotted #222222;
    flex-grow: 1;
    margin: 0 10px;
  }
  .ingredients {
    color: #686b70;
    margin-bottom: 1em;
  }

