// Breadcrumb
.breadcrumb-nav {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2.5rem;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 1.9rem 0 1.5rem;
}

.breadcrumb-item {
  text-transform: uppercase;
  font: 400 1.2rem/1.4 $second-font-family;
  letter-spacing: .075rem;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 1.1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '\e81a';
  font-family: 'porto';
  padding-right: 1.1rem;
  font-size: 1.4rem;
  vertical-align: middle;
  margin-top: -.5rem;
  color: #3c4250;
}

.breadcrumb-item a,
.breadcrumb-item.active {
  color: $link-color;
}
