/* Counters */
.count-container {
  margin-bottom: 4rem;
}

.count-wrapper {
  font: 400 2.8rem/1 $second-font-family;
  text-transform: uppercase;
  color: $headings-text;
  margin-bottom: .8rem;
}

.count-title {
  color: $body-text;
  font: 600 1.6rem/1 $font-family;
  margin-bottom: 0;
}

@include mq('lg') {
  .count-wrapper {
    font-size: 3.6rem
  }
}