/* Header */
.header {
  font-family: $second-font-family;

  .container,
  .container-fluid {
    display: flex;
    align-items: center;
  }

  &.header-transparent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index:1040;
  }
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex: 0 0 23.3%;
  max-width: 180px;
  align-self: stretch;
  border-right: 1px solid rgba(138, 137, 132, .5);
}

.header-right {
  flex-direction: column;
  flex: 1 1 auto;
  border-right: 1px solid rgba(138, 137, 132, .5);

  .header-row {
    justify-content: flex-end;
  }
}

.header-middle {
  background-color: #94968d;
  background-size: cover;
  background-position: center center;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(138, 137, 132, .5);

  .header-transparent &:not(.fixed) {
    background-color: transparent;
    background-image: none;
  }

  .container,
  .container-fluid {
    position: relative;
  }
}

.header-row {
  width: 100%;
  align-items: center;
}

.header-row-top {
  border-bottom: 1px solid rgba(138, 137, 132, .5);
}
.logo {
  display: block;

  img {
    display: block;
    max-width: 100%;
    height: auto;;
  }
}

.header-dropdown {
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .075rem;
  padding-right: 1.3rem;
  padding-left: 1.5rem;

  &.dropdown-expanded {
    margin-right: 3.2rem;
    font-size: 1.3rem;
  }

  > a {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    color: #c0bebb;
    position: relative;
    padding-right: 2.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    margin-bottom: -1px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #e1ddc3 transparent transparent transparent;
    }
  }

  &:hover > a {
    color: #fff;
  }

  a {
    img {
      display: inline-block;
      margin-right: .6rem;
      max-width: 16px;
      height: auto;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.header-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 1px;
  min-width: 78px;
  z-index: 20;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .25s;
  box-shadow: 0 29px 29px rgba(0,0,0,.1);

  .header-dropdown:hover > & {
    visibility: visible;
    opacity: 1;
  }

  ul {
    position: relative;
    list-style: none;
    padding: 18px 0;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      bottom: 100%;
      left: 50%;
      margin-left: -9px;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #fff transparent;
      }

    li {
      margin: 0;
    }

    a {
      font-weight: 400;
      color: #696969;
      font-size: 1.5rem;
      padding: 6px 20px;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: #696969;
      text-decoration: none;
      background-color: $primary-color;
    }
  }
}

.header {
  .btn-remove {
    &::before {
      display: none;
    }
  }
}

.header-dropdowns {
  display: flex;
  align-items: center;

  .header-dropdown {
    border-left: 1px solid rgba(138, 137, 132, .5);
  }
}

.dropdownmenu-wrapper {
  position: relative;
  padding: .9rem 3rem 2.5rem;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 29px 29px rgba(0, 0, 0, 0.3);

    &::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: 7.2rem;
    top: -10px;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #fff transparent;
    }
}

.dropdown-cart-icon {
  position: relative;

  &::before {
    display: inline-block;
    content: '\e878';
    font-family: 'porto';
    font-size: 2.2rem;
    line-height: 1;
    margin: 2px 0 0;
    color: #fff;
  }

  .cart-count {
    display: block;
    text-align: center;
    min-width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    right: -.3rem;
    line-height: 1;
    top: -.1rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    font-family: $font-family;
    color: #fff;
    background-color: #ff4052;
  }
}

.cart-dropdown {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(138, 137, 132, .5);
  align-self: stretch;
  font-family: $font-family;

  .dropdown-toggle {
    display: block;
    position: relative;
    padding-right: 2.1rem;
    padding-left: 1.7rem;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .03rem;
    color: #c0bebb;
    text-decoration: none;

    .dropdown-cart-text {
      margin-left: 1rem;
    }

    &::after {
      display: none;
    }

      &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .dropdown-menu {
    display: block;
    left: auto;
    right: 0;
      width: 330px;
      padding-top: 1px;
      z-index: 100;
      font-size: 1.1rem;
      color: #777;
      border: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      visibility: hidden;
      opacity: 0;
      transition: all .25s;

      &.show {
        visibility: visible;
        opacity: 1;
      }
  }

  &:hover,
  &.show {
    .dropdown-toggle {
      color: #fff;
    }
    .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }
  }

  .product {
    position: relative;
    display: flex;
    padding: 2.3rem 1.5rem 2.3rem 0;
    box-shadow: none;
    margin: 0 !important;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: none !important;
    align-items: center;
  }

  .product-image-container {
    position: relative;
    flex: 0 0 62px;
    max-width: 62px;
    border: 0;
    margin: 0 1.9rem 0 0;
    overflow: visible;

    .product-image {
      transform: translateY(0) !important;
    }
  }
  
  .product-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #21293c;
    text-align: left;
    margin-bottom: .1rem;

    a {
      color: inherit;
    }
  }

  .product-details {
    font-weight: 400;
    font-size: 1.5rem;
    color: #8f8f8f;
    text-align: left;
    transform: translateY(0) !important;
    padding-top: 0;
  }

  .btn-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -.3rem;
    top: 2.5rem;
    font-size: 1.4rem;
    line-height: 1;
    color: #afafaf;

    &:hover,
    &:focus {
      color: #999;
    }
  }
}

.dropdown-cart-total {
  padding: 1.25rem 0;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #21293c;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #e9e9e9;

  .cart-total-price {
    color: $primary-color-dark;
    font-size: 1.7rem;
    margin-left: auto;
  }
}

.dropdown-cart-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 .6rem;

  .btn {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    border-radius: .2rem;
    border-width: 2px;
    min-width: calc(50% - 8px);
    padding: .8rem 1rem .9rem;
    border-radius: 0;
  }
}

/* Header Search */
.header-search {
  position: relative;
  margin: 0;
  font-size: 0;
  line-height: 1;
  padding: 0;
  border: 0;
  border-left: 1px solid rgba(138, 137, 132, .5);

  .header-search-wrapper {
    display: none;
    align-items: stretch;
    overflow: visible;
    border-radius: 0;
    position: relative;
    width: 100%;
    min-width: 250px;
    width: 270px;
    background-color: transparent;
    @include clearfix();

    &.show {
        display: flex;
    }
  }

  form {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .form-control {
    padding: 15.5px 42px 15.5px 17px;
    color: #fff;
    width: 100%;
    height: 51px;
    font:400 1.3rem/20px $second-font-family;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: 0;

    &:focus {
      color: #fff;
      background-color: #64605e;
    }

    &::-webkit-input-placeholder {
      color: #c0bebb;
    }

    &::-moz-placeholder {
      color: #c0bebb;
    }

    &:-ms-input-placeholder {
      color: #c0bebb;
    }

    &::-ms-input-placeholder {
      color: #c0bebb;
    }

    &::placeholder {
      color: #c0bebb;
    }
  }

  .search-toggle {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1;
    min-width: 2.5rem;
    padding: 1rem 1.25rem;
    font-weight: 400;
    color: #fff;
    text-align: center;

    i {
      display: inline-block;
      margin-bottom: 2px;
    }
  }

  .btn {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    min-width: 0;
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    border: 0;
    padding:4px 3px;
    margin: -1px 0 0;
    background: transparent;
    cursor: pointer;
    border-radius: 0;

    i {
      &::before {
        margin: 0;
      }
    }

    &:hover,
    &:focus {
      color: $primary-color;
      background-color: transparent;
    }

  }
}

.mobile-menu-toggler {
  border: 0;
  background: transparent;
  color: #fff;
  padding: 1.35rem .5rem;
  font-size: 2.1rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  cursor: pointer;

  i {
    &::before {
      margin: 0;
    }
  }
}

@include mq('sm') {
}

@include mq('md') {
}

@include mq('lg') {
  .dropdown-expanded {
    padding-left: 0;
    padding-right: 0;

    > a {
      display: none;
    }

    .header-menu {
      position: static;
      left: auto;
      right: auto;
      top: auto;
      padding: 0;
      background-color: transparent;
      border: 0;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
      transform: translateX(0);
      min-width: 0;

      ul {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;

        &::before {
          display: none;
        }

        li {
          & + li {
            margin-left: 3rem;
          }
        }

        a {
          padding: 0;
        }
      }

      a {
        font-size: 1.3rem;
        color: #c0bebb;

        &:hover,
        &:focus {
          color: #fff;
          background-color: transparent;
        }
      }
    }
  }

  .header-search {
    .search-toggle {
      display: none;
    }

    .header-search-wrapper {
      display: flex;
    }
  }
}


@include mq('xl') {
  .header-left {
    max-width: 270px;
  }
}

@include mq('lg', 'max') {
  .header-search {
    .header-search-wrapper {
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: .3rem;
      border: 4px solid $primary-color;
      width: 270px;
      z-index: 99;
      background-color: #64605e;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075);

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 12px;
        top: -24px;
        width: 20px;
        height: 20px;
        border: 10px solid transparent;
        border-bottom-color: $primary-color;
      }
    }
  }

  .header-dropdown.dropdown-expanded {
    margin-right: 1rem;
  }

  .mobile-menu-toggler {
    display: flex;
  }
}

@include mq('md', 'max') {
  .mobile-menu-toggler {
    margin-right: 1rem;
  }

  .dropdownmenu-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .header-left {
    flex: 0 0 150px;
    max-width: 150px;
  }
}

@include mq('sm', 'max') {
  .header-left {
    flex: 0 0 120px;
    max-width: 120px;
  }

  .logo {
    max-width: 100px;
  }

  .header-dropdowns {
    display: none;
  }

  .header-dropdown {
    padding-left: 0;
  }

  .header-dropdown > a {
    padding-right: 1.4rem;
  }
}

@media (max-width: 360px) {
  .cart-dropdown {
    .dropdown-menu {
      width: 260px;
    }

    .dropdownmenu-wrapper {
      padding: 1rem 1.4rem;
    }
  }
}
