/* Page Header */
.page-header {
  padding:9.2rem 0 9rem;

  .breadcrumb-nav + & {
    margin-top: -5rem;
  }
}

.page-header h1,
.page-title {
  font-family: $second-font-family;
  text-transform: uppercase;
  margin-bottom: 0;
}